/** Add any CSS you need to this file. */
#title {
    width: 30%;
    border: 3px solid #D72323;
    text-align: center;
    font-size: 150%;
    font-family: Verdana, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contactHeader{
    text-align: center;
    font-size: 200%;
}
#contactForm {
    margin: auto;
    width: 50%;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tInput{
    width: 250px;
    height: 25px; 
    margin-bottom: 1px;
}
#msg {
    margin: 0px; 
    height: 100px; 
    width: 700px
}
#filterText{
    text-align: left;
    font-size: 200%;
    font-weight: bold;
}
#itemList{
    justify-content: space-evenly; 
}
.item{
    vertical-align: middle;
    display: inline-block;
    background-color: #EEEEEE;
    border: 5px outset #303841;
    margin-bottom: 1%;
    margin-right: 5px;
    padding: 2px 2px 2px 2px;
    width: 400px;
}
.iTitle{
    text-align: center;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px outset #D72323;
}
.iImage{
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.img{
    margin-top: 5px;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
.details{
    display: grid;
    grid-template-columns: 100px 200px 100px;
}
.iCategory{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #303841;
    color: #EEEEEE;
}
.iPrice{
    font-family: sans-serif;
    font-weight: bold;
    text-align: right;
    
    border: 2px outset #52616B;
}
.iCredit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

/* Add a black background color to the top navigation */
.topnav {
    display: grid;
    grid-template-columns: 200px 200px;
}
  /* Style the links inside the navigation bar */
.topnav a {
    background-color: #303841;
    float: left;
    color: #EEEEEE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

}
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #EEEEEE;
    color: #303841;

}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #D72323;
    color: #EEEEEE;

}
.topnav img{
    height: 40px;
    width: 40px;
}

.sidenav {
    display: grid;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 150px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #303841; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 20px;
    color: #EEEEEE;
    display: block;
    
}
.filter{
    text-indent: 20px;
}

/* Style page content */
#main {
    margin-left: 10%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        width: 200px;
    }
    .sidenav a {font-size: 18px;}
    #main {
        margin-left: 205px;
    }
}

footer {
    margin-top: 235px;
    background-color: #303841;
    color: #EEEEEE;
    height: 3.5em;
}
footer p {
    text-align: center;
    padding-top: 0.6em;
}
