/* Top Banner */
#topBanner{
    display: block;
    background: #EEEEEE;
    height: 150px;
    margin-left: 225px;
    overflow-x: hidden;
    text-align: center;
}
#title {
    display: inline-block;    
    margin-top: 20px;
    border: 3px solid #D72323;
    padding: 15px;
    width: auto;
    height: 75px;
    background: #FFFFFF;
    text-decoration: none;
    overflow-x: hidden;
}
#title h2{
    margin: 0;
    color: #000000;
    font-family: montserrat;
    font-size: 59px;
    text-decoration: none;

}

/* Side bar */
.sidenav {
    height: 100%;
    width: 225px; 
    position: fixed; 
    z-index: 2; 
    top: 0; 
    left: 0;
    background-color: #303841; 
    overflow-x: hidden; 
    color: #EEEEEE;   
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-size: 35px;
    border-right: 0.2vw solid #D72323;
}
.sidenav .filterType{
    color: #D72323;
    text-decoration: none;
    font-size: 30px;
    padding-left: 10px;
}
.sidenav a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 20px;
    color: #EEEEEE;    
    line-height: 4vw;
}
.filter{
    padding-left: 10px;
}

#main {
    text-align: center;
    margin-left: 225px;
}

/* Main page contents */
#storeDesc{
    font-family: raleway;
    font-size: 25px;
    text-align: center;
}
#filterText{
    font-size: 200%;
    font-weight: bold;
}
#itemList{
    padding-bottom: 3.5vw;
}
.item{
    vertical-align: middle;
    display: inline-block;
    background-color: #EEEEEE;
    margin-bottom: 1vw;
    margin-right: 3vw;
    padding: 2px;
    width: 325px;
}
.iTitle{
    text-align: center;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px outset #D72323;
}
.iImage{
    text-align: center;
    align-items: center;
    vertical-align: middle;
}
.img{
    margin-top: 5px;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}
.details{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: auto;
    justify-content: space-evenly;
}
.iCategory{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #303841;
    color: #EEEEEE;
    grid-column-start: 1;
    grid-row-start: 1;
}
.iPrice{
    padding: 2px 2px 2px 2px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: right;
    border: 2px outset #52616B;
    grid-column-start: 2;
    grid-row-start: 1;
}
.iCredit{
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

/* Contact form */
#contactForm {
    display: inline-block;
    margin-top: 20px;
    padding: 1vw;
    font-size: 1vw;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EEEEEE;
}
#inputs{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto 12vw;
}
#name{
    grid-column-start: 1;
    padding-right:5vw;
}
#contactInfo{
    grid-column-start: 2;
    padding-left: 5vw;
}
#location{
    grid-column-start: 1;
    padding-right:5vw;
}
#other{
    grid-column-start: 2;
    padding-left: 5vw;
}
#orderNumLoc input{
    width: 6.9vw;
    height: 1vw; 
    margin-bottom: 1px;
}
.tInput{
    width: 13vw;
    height: 1vw; 
    margin-bottom: 1px;
}
#msg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    width: 37vw;
    height: 5vw; 
}

/* Footer contents */
#fContent{
    display: grid;
    grid-template-columns: 225px ;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background-color: #EEEEEE;
    font-family: raleway;
    font-size: auto;
    color: #303841;
    text-align: center;
    overflow-x: hidden;
}
#subscribe{
    grid-column-start: 2;
}
#newsletter{
    width: 150px;
    height: 20px;
}
#newsletterButton{
    width: 75px;
    height: 20px;
}
#cright{
    grid-column-start: 3;
}
#contact{
    grid-column-start: 4;
}
ul{
    list-style-type: none;
}

@media screen and (max-width: 800px){
    #fContent{
        display: inline-block;
    }
    #newsletter{
        height: 1.8vw;
        width: 15vw;
        font-size: 1.5vw;
    }
    #newsletterButton{
        height: 2.5vw;
        width: 7vw;
        font-size: 1.5vw;
    }
    #cright{
        font-size: 1.5vw;
    }
    #contact{
        font-size: 1.5vw;
    }
}

@font-face{
    font-family: montserrat;
    src: url('fonts/montserrat/Montserrat-Black.ttf')
}
@font-face{
    font-family: raleway;
    src: url('fonts/raleway/Raleway-Light.ttf')
}